@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: antiquewhite;
    color: black;
    padding: 0%;
    font-weight: normal;
}

.container {
display: grid;
grid-template-columns: 1fr 3fr;
}


.header{
    background-color: whitesmoke;
    grid-column: 2/6;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 2fr 1fr;
    gap:10px;
    box-shadow: 0px 10px 5px grey;
    height: 30vh;
}

 .header img{
    width: 40px;
 }

#search{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#search img{
    width:40px
}
#search input{
    border-radius: 10px;
    height: 20px;
    width: 70%;
    background-color: lightgrey;
    padding-left: 10px;
}

#welcome{
    display: flex;
    align-content: center;
    align-items: center;
    padding-left: 10%;
}

#welcome img{
    width: 75px;
    padding-right: 10px;
}

#gitlink{
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

#buttons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#buttons>button{
    border-radius: 20px;
    font-size: 16px;
    padding: 10px 24px;
    background-color:cornflowerblue;
    transition-duration: 0.4s;
}

#buttons>button:hover{
    box-shadow:  4px 6px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)

}

.dash{
    grid-row:1/6;
    background-color:cornflowerblue;
    padding-left: 10px;
    margin-right: 0;
    font-weight: bold;
    color:antiquewhite;
}



.dash img{
    width: 40px;
}



.dash>div{
    display: flex;
}

.contents{
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 10px;
    gap:10px;
}
.projects{    
    grid-row: 2/6;
    display: grid;
    grid-template: 1fr 1fr 1fr/ 1fr 1fr;
    gap: 20px;
}

.projects>div{
    color: black;
    background-color: white;
    border-radius: 10px;
    border-left: 10px solid cornflowerblue;
}


.card{
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}

.shares{
    display: flex;
    align-items: center;
    justify-content: end;
}

.card img{
    width: 30px;
}



#anntren{
    display: grid;
    gap:10px;

}

.announce{ 
    grid-column-start: 2;
    height: 50%;
    
}

.announce p{
    font-size: 10px;
}

#abox{
    background-color: white;
    padding:32px;
    border-radius: 10px;
}

#abox div:first-child{
    border-top: none;
}

#abox div{
    border-top: 1px solid black;
}

.trends{
    grid-column-start: 2;
}

.trends p{
    font-size: 14px;
}

#tbox{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding:20px;
    border-radius: 10px;
}
.trendname{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
}
#tbox>div{
    display: flex;
}

.trends img{
    height: 40px;
    width:40px;
}