@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #354f60;
    color: white;
}

.container {
display: grid;
grid-template-columns: 1fr 3fr 1fr;
gap:5px;
}


.header{
    background-color: #421e22;
    grid-column: 2/6;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 1fr;
    gap:10px;

}

#search{
    border-style:inset;
    border-radius: 10px;
}

.dash{
    grid-row:1/6;
    background-color: cadetblue;
    padding-left: 10px;
}

.dash img{
    width: 40px;
}

.dash>div{
    display: flex;
}
.projects{    
    grid-row: 2/6;
    display: grid;
    grid-template: 1fr 1fr 1fr/ 1fr 1fr;
    gap: 8px;
}

.announce{    
}

.trends{
    grid-row-start: 3;
}